/* Zmniejsza domyślne odstępy pomiędzy informacjami */
.ui-content{
    padding-top: 0em!important;
    padding-bottom: 0em!important;
    //padding-left: 1em;
    //padding-right: 1em;
}

#start #app-top 
{
    /*background-image: url(images/uwb-logo.png);*/
    background-repeat: no-repeat;
    height: 62px;
}

#logo 
{
    width: 150px;
    margin: 0 auto;
}


#start h1.glowny {
    /*text-shadow: 0.1em 0.1em 0.2em #5B92BF;*/
    font-size: 120%;
    margin: 7px 0 2px 0;
}

#start h2
{
    font-size: 130%;
    margin: 5px 0 2px 0;
}
.odnosniki a {
    width: 99%;
}

.adres {
    text-align:center;
}

.nazwa {
    font-size: 70%;
}
