<?xml version="1.0" encoding="UTF-8"?>
<konfiguracja xmlns="http://ii.uwb.edu.pl/serwis/konfiguracja/czesc2">
	<opiekun>Dominik Tomaszuk</opiekun>
	<autorzy>
		<autor>Artem Barysevich</autor>
		<autor>Karol Borkowski</autor>
		<autor>Radosław Piliszek</autor>
		<autor>Maciej Puchalski</autor>
		<autor>Łukasz Szeremeta</autor>
		<autor>Artur Szymański</autor>
	</autorzy>
	<logo_aplikacji>images/mobiUwB.png</logo_aplikacji>
	<logo_male>images/logo32.png</logo_male>
	<logo_srednie>images/logo64.png</logo_srednie>
	<logo_duze>images/logo128.png</logo_duze>
	<jednostka>
		<nazwa>Instytut Informatyki</nazwa>
		<pelny_tytul>mobiUwB - Instytut Informatyki</pelny_tytul>
		<apiUrl>http://ii.uwb.edu.pl/serwis/?/json/</apiUrl>
		<!-- <logo></logo> --><!-- opcjonalny -->
		<sekcje>
			<sekcja>
				<tytul_sekcji>Aktualności</tytul_sekcji>
				<id_sekcji>io</id_sekcji>
			</sekcja>
			<sekcja licznik="tak"><!-- atrybut licznik - opcjonalny -->
				<tytul_sekcji>Zajęcia odwołane</tytul_sekcji>
				<id_sekcji>sz</id_sekcji>
			</sekcja>
			<sekcja>
				<tytul_sekcji>Sprawy ogólne</tytul_sekcji>
				<id_sekcji>so</id_sekcji>
			</sekcja>
			<sekcja>
				<tytul_sekcji>Biuro karier</tytul_sekcji>
				<id_sekcji>bk</id_sekcji>
			</sekcja>
			<sekcja>
				<tytul_sekcji>Szkolenia i praktyki</tytul_sekcji>
				<id_sekcji>sk</id_sekcji>
			</sekcja>
		</sekcje>
		<sekcje_statyczne>
			<sekcja_statyczna>
				<tytul_sekcji>Plan zajęć</tytul_sekcji>
				<id_sekcji>plan</id_sekcji>
			</sekcja_statyczna>
		</sekcje_statyczne>
		<mapa>
			<tytul>Instytut Informatyki</tytul>
			<wspolrzedne>
				<dlugosc>53.13051</dlugosc>
				<szerokosc>23.143811</szerokosc>
			</wspolrzedne>
		</mapa>
		<adres>
			<kod>15-887</kod>
			<miasto>Białystok</miasto>
			<ulica>Sosnowa</ulica>
			<numer>64</numer>
		</adres>
		<email>sekretariat(malpa)ii(kropka)uwb(kropka)edu(kropka)pl</email><!-- zamiast @-> (malpa) zamiast .-> (kropka) -->
		<tel1>+48-85-745-7662</tel1>
		<!-- <tel2></tel2> --><!-- opcjonalny -->
		<fax>+48-85-745-7662</fax><!-- opcjonalny -->
		<plany>
			<pierwszy_stopien>
				<plan>
					<opis>1 rok</opis>
					<link>http://ii.uwb.edu.pl/pliki/file/2013_2014/plany/st1_sem2.pdf</link>
				</plan>
				<plan>
					<opis>2 rok</opis>
					<link>http://ii.uwb.edu.pl/pliki/file/2013_2014/plany/st1_sem4.pdf</link>
				</plan>
				<plan>
					<opis>3 rok</opis>
					<link>http://ii.uwb.edu.pl/pliki/file/2013_2014/plany/st1_sem6.pdf</link>
				</plan>
				<plan>
					<opis>3 rok (studia przemienne)</opis>
					<link>http://ii.uwb.edu.pl/pliki/file/2013_2014/plany/st1_sem5.pdf</link>
				</plan>
			</pierwszy_stopien>
			<drugi_stopien>
				<plan>
					<opis>Rok 1</opis>
					<link>http://ii.uwb.edu.pl/pliki/file/2013_2014/plany/st2_sem2.pdf</link>
				</plan>
				<plan>
					<opis>Rok 2</opis>
					<link>http://ii.uwb.edu.pl/pliki/file/2013_2014/plany/st2_sem4.pdf</link>
				</plan>
			</drugi_stopien>
		</plany>
	</jednostka>
</konfiguracja>
