<!-- navbar/ -->
<!-- Linki w "stopce" -->
<div metal:define-macro="footer" data-role="footer" data-theme="b">
    <div data-role="navbar" data-theme="b">
        <ul>
            <li><a href="#kontakt" data-rel="dialog" data-icon="mail" data-theme="b">Kontakt</a></li>
            <li><a href="#oprogramie" data-rel="dialog" data-transition="pop" data-icon="info" data-theme="b">O programie</a></li>
        </ul>
    </div>
</div>
<!-- /navbar -->

<!-- /kontakt -->
<div metal:define-macro="kontakt" data-role="page" id="kontakt" class="page-map" style="width:100%; height:100%;" data-close-btn="right" data-theme="b">
    <div data-role="header" data-theme="b"><h1>Kontakt</h1></div>
    <div data-role="content" style="padding:0;">
        <div id="text" style="padding: 0 5px 3px 0">
            <div class="adres">
                <strong><span tal:content="nazwa" tal:omit-tag="">Instytut/Wydział</span></strong><br/>
                <span tal:content="kod" tal:omit-tag="">Kod pocztowy</span> <span tal:content="miasto" tal:omit-tag="">Miasto</span><br/>
                ul. <span tal:content="ulica" tal:omit-tag="">Ulica</span> <span tal:content="numer" tal:omit-tag="">Numer budynku</span>
            </div>
            <a data-role="button" data-icon="mail" href="mailto:sekretariat@ii.uwb.edu.pl" rel="external" id="poczta" style="margin:5px" tal:attributes="href mailto" tal:content="email">E-mail</a>
            <a data-role="button" data-icon="phone" href="tel:+48-85-745-7662" rel="external" style="margin:5px" tal:attributes="href tel1_">Tel: <span tal:content="tel1">Telefon</span></a>
            <a tal:condition="tel2" data-icon="phone" data-role="button" href="tel:${tel2}" rel="external" style="margin:5px">Tel2: <span tal:condition="tel2" tal:content="tel2">Telefon2</span></a>
            <a tal:condition="fax" data-role="button" href="tel:${fax}" rel="external" style="margin:5px">Fax: <span tal:condition="fax" tal:content="fax">Fax</span></a>
        </div>
        <div id="map_canvas" style="width:400px; height:200px;margin:auto;"></div>
    </div>
</div>
<!-- /kontakt -->

<!-- /oprogramie -->
<div metal:define-macro="oprogramie" data-role="page" id="oprogramie" data-close-btn="right" data-theme="b">
    <div data-role="header" data-theme="b">
        <h1>O programie</h1>
    </div>
    <div data-role="content">
        <div style="text-align: center">
            <img src="mobiUwB.png" alt="logo" tal:attributes="src logo_aplikacji" />
        </div>
        <strong>Autorzy</strong>
        <ul>
            <li tal:repeat="item opiekunowie" tal:content="item/imie">Imie i nazwisko opiekuna</li>
            <li tal:repeat="item autorzy" tal:content="item/imie">Imie i nazwisko autora</li>
        </ul>
        <strong>Licencja</strong>
        <p>
            Program na licencji <strong>MIT</strong>.
        </p>
        <strong>Podziękowania</strong>
        <p>
            Autorzy pragną podziękować wszystkim członkom Informatycznego Koła Naukowego UwB oraz dyrekcji Instytutu Informatyki.
        </p>

    </div>

</div>
<!-- /oprogramie -->