<div metal:define-macro="header" data-role="header" data-theme="b" id="app-top" data-position="fixed">
    <h1 class="glowny">
        <span data-form="ui-icon" class="ui-icon ui-icon-shadow" style="vertical-align: middle; display:inline-block">
            <img src="images/logo32.png" alt="Uniwersytet w Białymstoku" tal:attributes="src logo_male"/>
            <img tal:condition="logo_jednostki" src="images/logo.png" alt="Instytut/Wydział" tal:attributes="src logo_jednostki; alt nazwa" />
        </span> <span> MobiUwB </span>
        <span tal:content="nazwa_jednostki" class="nazwa">Instytut/Wydział</span>
    </h1>
</div>